vrrp_instance VI_1 {
  state {{ keepalived_state }}
  interface {{ keepalived_vip_int }}
  virtual_router_id 51
  priority {{ keepalived_router_pri }}
  advert_int 1
  authentication {
        auth_type PASS
        auth_pass 1111
    }
  virtual_ipaddress {
    {{ keepalived_vip }}
  }

}

